<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link href="/stylesheets/table.css" rel="stylesheet" type="text/css">

    <!-- BOOTSTRAP CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->


</head>

<body>
    <% include partial/header %>
        <div class="container p-5">
            <div class="card">

                <table id="users">
                    <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email Id</th>
                        <th>Dob</th>
                        <th>Action</th>
                    </tr>
                    <% userlist.forEach( function ( user ){ %>

                        <tr>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= moment(user.dateOfBirth).format('Do MMMM, YYYY'); %>
                            </td>
                            <td>
                                <div style="font-size: 2.6rem;">
                                    <a href="/delete/<%= user._id %>"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <a href="/editprofile/<%= user._id %>"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                                </div>

                            </td>
                        </tr>


                        <% }); %>


                </table>

            </div>
        </div>
</body>

</html>